h3 {
  a {
    &:hover {
      color: #008b8b;
    }
}
}

.about-page {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;

  img {
    border-radius: 25%;
    height: 600px;
    width: 600px;
  }

  p {
    font-size: 1.25em;
    width: 700px;
  }
}
