a {
  color: #000;
  font-weight: bold;

  &:hover {
    color: #7fffd4;
  }
}

body { 
  margin: 0;
  min-height: 100vh;
}

#root {
  background-image: linear-gradient(to bottom right, #00CED1, #fff); 
  min-height: 100vh;
}

footer { 
  background-image: linear-gradient(to bottom right, #006400, #00CED1);
  height: min-content;
  margin-top: 2em;

  p {
    margin: 1em;
  }
}

h1 {
  font-size: 3em;
  text-align: center;
}

img {
  height: 400px;
  
  width: 400px;
}

nav {
  background-image: linear-gradient(to bottom right, #006400, #00CED1);


  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
  }
}

.App {
  display: flex;
  flex-direction: column;
  font-family: Rockwell, serif;
  min-height: 100vh;
  justify-content: space-between;
}

.intro-card {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  height: 600px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 40px;
  width: 1200px;

  img {
    border-radius: 15%;
    height: 500px;
    width: 500px;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: start;

  p {
    width: 500px;
  }
}