.project-skills-header {
  margin: 10px;
  padding-top: 0;
}

.tooltip-image {
  position: relative;

  img {
    border-radius: 0%;
    height: 50px;
    margin: 10px;
    width: 50px;
  }

  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }
}

.tooltip-text {
  background-color: #000;
  border-radius: 5%;
  bottom: 100%;
  color: #7fffd4;
  left: 50%;
  padding: 10px 20px;
  position: absolute;
  margin-left: -35px;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

h3 {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.project-card {
  align-items: center;
  background-color: #20b2aa;
  border-radius: 25%;
  box-shadow: 10px 10px #778899;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 100px auto;
  overflow: auto;
  width: 700px;
}

.project-description {
  width: 500px;
}

.project-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  
  a {
    text-align: center;
  }
}

.project-skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

@media(max-width: 600px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card {
    border-radius: 10%;
    box-shadow: 5px 5px #778899;
    height: min-content;
    width: 90%;

    h3 {
      font-size: 0.9em;
      width: 80%;
    }
  }

  .project-description {
    font-size: 0.75em;
    margin: 0 15px;
    text-align: center;
    width: 80%;

    li {
      padding: 10px 0;
    }

    ul {
      padding-inline-start: 20px;
    }
  }

  .project-links {
    width: 250px;

    a {
      font-size: 0.8em;
    }
  }

  .project-skills-header {
    font-size: 0.8em;
  }

  .project-skills-list {
    width: 80%;
  }

  .tooltip-image {
    img {
      height: 40px;
      margin: 10px;
      width: 40px;
    }
  }

  .tooltip-text {
    padding: 10px 15px;
  }
}

@media(min-width: 601px) and (max-width: 1500px) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-card {
    border-radius: 10%;
    box-shadow: 5px 5px #778899;
    height: 710px;
    width: 550px;

    h3 {
      font-size: 0.9em;
      width: 80%;
    }
  }

  .project-description {
    margin: 0 15px;
    text-align: center;
    width: 80%;

    li {
      padding: 10px 0;
    }

    ul {
      padding-inline-start: 20px;
    }
  }

  .project-links {
    width: 250px;

    a {
      font-size: 0.8em;
    }
  }

  .project-skills-header {
    font-size: 0.8em;
  }

  .project-skills-list {
    width: 80%;
  }

  .tooltip-image {
    img {
      height: 40px;
      margin: 10px;
      width: 40px;
    }
  }

  .tooltip-text {
    padding: 10px 15px;
  }
}