h2 {
  margin-top: 100px;
  text-align: center;
  text-decoration: underline;
}

h4 {
  padding-top: 10px;
  text-decoration: underline;
}

.skill-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.skill-item {
  border-radius: 25%;
  height: 300px;
  margin: 20px;
  width: 300px;

  &:hover {
    background-color: #7fffd4;
  }

  img {
    border-radius: 0%;
    height: 150px;
    margin: 75px;;
    width: 150px;
  }
}

.skill-info {
  color: #7fffd4;
  background-color: #000;
  border-radius: 25%;
  text-align: center;
  width: 300px;

  p {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 250px;
  }
}

@media(max-width: 400px) {
  h2 {
    font-size: 1.25em;
  }

  .skill-item {
    margin: 20px 5px;
    width: 280px;

    img {
      margin: 75px 65px;
    }
  }

  .skill-section {
    width: 100%;
  }

  .skill-info {
    width: 100%;

    p {
      width: 80%;;
    }
  }
}